@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin:0;padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    background:none;
}

section{
    padding:2rem 7%;
}

.roomcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:2rem;
}

.roomcontainer .bgcolor1{
    background:blue;
}

.roomcontainer .bgcolor2{
    background:red;
}

.roomcontainer .bgcolor3{
    background:rgb(219, 73, 219);
}

.roomcontainer .bgcolor4{
    background:rgb(16, 211, 146);
}

.roomcontainer .box{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    padding:3rem 2rem;
    color:#fff;
    border-radius: .5rem;
}

.roomcontainer .box .sector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    font-size: .8rem;
}

@media (max-width:1200px){
    section{
        padding:2rem 4%;
    }
    
    .roomcontainer{
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
        gap:1.5rem;
    }

    .roomcontainer .box{
        gap:1rem;
        padding:2rem 1.8rem;
    }
    
    .roomcontainer .box .sector{
        gap:1.5rem;
    }
}

@media (max-width:375px) {
    section{
        padding:2rem 0;
    }
}